###  For ITCS Accounts Only #####
#------------------------------------------------------------------------
#* Lines starting with # are treated as comments
#* Tool Home page - http://w3.tap.ibm.com/w3ki02/display/DBSHC
#* Tool only covers checks which can be automated.
#* DBA is responsible for the Manual Checks listed in the above website.
#------------------------------------------------------------------------
###*** Section-A
###*** General Settings

## Version Number for the Config File
## MUST match version tool is expecting
CFG_VERSION=2.4.0

## Account Code - Should only contain alpha-numeric characters
ACCOUNT_CODE=

## Project ID - Should only contain numeric characters
PROJECT_ID=0110

## Security Standard. Valid Values: GSD/ITCS/ISEC/EBHS/MSD
#  - By default some checks run based on the standard. If you are customizing,
#    ensure that only required checks are enabled
GSD_ITCS=ITCS

## Security Standard Version
SEC_STD_VER=11.2

## Server Type - Used to find Frequency,Retention and Fix Time
#  - Valid Values: INTERNET,IES,DR,OTHER,MSDGROUP1,MSDGROUP2
#  - You can also set this using command line. ex. -SRV OTHER
SERVER_TYPE=OTHER

## Database Type - Valid Values: PROD, TEST or STAGE - Default: PROD
#  - You can also set this using command line. ex. -DBT PROD
DB_TYPE=PROD

## Application Type - Valid Values: SOX,SPI,HIPAA,FFIEC or OTHER
#  - Default: OTHER
#  - You can also set this using command line. ex. -APT OTHER
APP_TYPE=OTHER

## Application  - Valid Values: SAP, GENERAL - Default:GENERAL
#APPLICATION=

## Confidential Data ? - Valid Values: Y or N  - Default: Y
#  - You can also set this using command line. ex. -CONF Y
CONFIDENTIAL_DATA=Y

## Host Name - Tool Automatically finds hostname, Set this to override it
#  - You can also set this using command line. ex. -HOST myhost
#HOST_NAME=

## Virtual/Cluster Name in case of HACMP/Clustered environments
#  - You can also set this using command line. ex. -VHOST myvhost
#VHOST_NAME=

## HISTORY Directory - By default Old Reports are kept in HISTORY SubDir
#  - To Change default, Give Full Path here.
#HISTORY_DIR=

#Compliance Standard required on this server/instance if necessary
#      Possible values - - NONE, HIPAA
#COMPLIANCE_STD=HIPAA

###*************** DB2SHC Specific General Cfg Parameters ***************
## What do you want to check ? - SERVER or CONNECT - Default: SERVER
#  ** Still Very Experimental. For now SERVER Option works without any problem
SHC_TYPE=SERVER

## Do you have any User Created Fenced Proecures in any Database in the Instance
#  Valid Values: Y or N  - Default: Y
HAS_FENCED_PROCS=Y

## Does your Product/Application automatically assigns fenced id to 
#  SYSADM/SYSCTRL/SYSMAINT groups during Instance creation ?
#  Ensure that Instance is dedicated to the product and not
#  used for other purposes
#  Valid Values: Y or N  - Default: N
FENCED_ID_IN_SYSADM=N

## DB2 Version - Set if 5.2 or When Tool has problem finding it
#DB2VERSION=

## (DB2 Win only) DB2 Instance Name - Set if Instance name is not DB2
#DB2INSTANCE=

## (DB2 Win only) DB2 Instance Owner ID - Set if you have issues with perms
#DB2_INST_ID=

## (DB2 Win only) DB2 SQLLIB Path - Set if tool has problem finding it
#SQLLIB=

###*******************************************************************

###*** End Section-A
#------------------------------------------------------------------------
###*** Section-B
###*** Frequency, Fix time and Retention
#  Give these for all Server Types defined in Security Standard
#Health Check Frequency in Days
HC_FREQUENCY_INTERNET=90
HC_FREQUENCY_IES=90
HC_FREQUENCY_DR=90
HC_FREQUENCY_OTHER=180

#Days within which the violations need to be fixed
HC_FIXTIME_INTERNET=3
HC_FIXTIME_IES=3
HC_FIXTIME_DR=7
HC_FIXTIME_OTHER=60

#History Retention Iterations/Cycles
HC_RETENTION_INTERNET=2
HC_RETENTION_IES=2
HC_RETENTION_DR=2
HC_RETENTION_OTHER=2

###*** End Section-B
#------------------------------------------------------------------------
###*** Section-C
###*** Email (Use Comma to separate multiple eMails)
# eMail of Account DBA
EMAIL_DBA=glance@ca.ibm.com

# eMail of Privileges Verifier
EMAIL_VERIFIER=

# Need Positive Confirmation from Verifier? (Default:N - Acceptable - Y/N
EML_CONF_V=N

# eMail of HCTEAM Where .out and .txt files are sent
EMAIL_HCTEAM=

# eMail to which ID list is to be sent
#EMAIL_SA=

# Senders email - Only required, if your SMTP Servers needs specfic address
#EMAIL_FROM=

# Hostname/dns name of Mail Server (It should be resolvable)
#   - Do not use IP Address 
#SMTP_SERVER=

# Mail program to use - sendmail or mailibm.
#   By default it tries to connect using port 25
#MAIL_PROG=

###*** End Section-C
#------------------------------------------------------------------------
###*** Section-D
###********************* Enable /Disable Checks *******************************
# To Enable/Disable a Check, remove the # in the beginning and 
#    Set 3rd value to YES to Enable for all and set it to NO to Disable for all
#---------------------------- Scope/Applicability of a Check ------------------
# Some checks might be applicable for Certain DB Types
# For ex. If A015_chk_revoked_privileges is only for TEST env, 
#   indicate it as A015_chk_revoked_privileges:TEST
# Acceptable Values are: PROD,TEST,STAGE. Separate multiple values with a ,
#..............................................................................
# NOTE: UNIX    - Even if Windows only checks are enabled, they are not run
#       Windows - Even if Unix,Linux Only checks are enabled, they are not run
#..............................................................................
#
CHECK:A005_CHK_ADM:YES
CHECK:A012_CHK_DBADM:YES
CHECK:A013_SECADM:YES
CHECK:A014_ASSCESSCTRL_AUTH:NO

##(WINDOWS ONLY)
CHECK:A006_DEFAULT_PW:YES

##(UNIX,LINUX&WIN)
CHECK:A007_DEFAULT_ACCESS:YES

##(UNIX,LINUX&WIN) A015 TO A036
CHECK:A015_CHK_REVOKED_PRIVILEGES:NO
CHECK:A020_CHK_IMPLICIT_SCHEMA:YES
CHECK:A021_CHK_CREATEIN_AUTH:YES
CHECK:A025_CHK_IMPLICIT_PRIVILEGES:YES
CHECK:A026_CHK_PUB_SYSTABS_VIEWS:YES
CHECK:A027_LIST_GRANTEE_GRP_MEMBERS:NO
CHECK:A030_CHK_TABLE_PRIVILEGES:NO
CHECK:A032_CHK_OBJECT_OWNERS:NO
CHECK:A035_CHK_AUTHENTICATION:YES
CHECK:A036_CHK_SRVCON_AUTH:YES

## (UNIX/LINUX ONLY) A037 & A038
CHECK:A037_FENCED_USER:YES
CHECK:A038_LIMIT_FENCED_GROUP:YES

##(UNIX,LINUX&WIN) A040 TO A062
CHECK:A040_CHK_OBJECT_CREATION:NO
CHECK:A045_CHK_LOG_DIRS:YES
CHECK:A050_CHK_DB_DIRS:YES
CHECK:A055_CHK_DATA_DIRS:YES
CHECK:A056_CHK_AUDIT_OPTS_DB:YES
CHECK:A057_CHK_AUDIT_OPTS_INST:YES
CHECK:A058_CHK_AUDIT_FILES:YES
CHECK:A060_CHK_BACKUP_DIR:YES
CHECK:A062_CHK_ARCH_LOGS:YES

## (UNIX,LINUX ONLY) A065 & A066
CHECK:A065_CHK_OTHER_DIR:YES
CHECK:A066_CHK_SQLLIB_FILES:YES

##(UNIX,LINUX&WIN) A070
CHECK:A070_CHK_PRODUCT_FILES:YES

## (UNIX,LINUX ONLY) A075
CHECK:A075_CHK_UMASK:YES

##(UNIX,LINUX&WIN) A085 TO A095
CHECK:A085_CHK_ENCRYPT_STORAGE:YES
CHECK:A090_CHK_ENCRYPT_TRANSMIT:NO
CHECK:A095_CHK_SSL_ENCRYPT_TRANSMIT:YES

##(UNIX,LINUX&WIN) A202, A203, A221, & A222
CHECK:A202_FENCEDID_FILE_OWNGRP:YES
CHECK:A203_DB2LOGINRESTRICTIONS:YES
CHECK:A221_CHK_DBSCRPT_PERMS:YES

CHECK:A222_CHK_DB2_ATS:YES
CHECK:A223_ADMINTASKS_TABLE:NO
CHECK:A224_ADMINTASKS_VIEW:NO
CHECK:A225_ADMINTASKS_PROCS:NO

##GENERAL Checks and HIPAA Checks
CHECK:A100_HIPAA_AUDIT_LOG_RET:YES
CHECK:A101_HIPAA_ADDL_PRIV_LOG:YES
CHECK:A102_HIPAA_ELECTRONIC_AUTH:YES
CHECK:A103_HIPAA_SESSION_TIMEOUT:YES
CHECK:A200_BUSINESS_USE_NOTICE:YES
CHECK:A201_ANTIVIRUS:YES

###*** End Section-D
#------------------------------------------------------------------------
###*** Section-E
###*** Customize Paramaters
# ...........................................................................
# Only Customizable parameters are listed here.
# Format is DB:PARAMETER:VALUE
#   Add one line for each database. If applicable for all DBs - use ALL for DB
#............................................................................
##......... File/Directory permissions ......................................
# File/Directory permissions will always have ALL as 1st part
#
# UNIX : Format: 999999  - where first 999 for Dirs, last 999 for Files
#  Default: A045,A050 - 775770    ;   A055,A060      - 770770
#           A062      - 775770    ;   A065,A066,A070 - 775775
#
# Windows: Format: USER1-PPPPPPPP,USER2-PPPPPPPP
#  where P is R-Read; W-Write; X-Exec; D-Del; P-Chg Perms; O-Take OShip; A-All
#  Specify allowed Perms only Eg. USER1-RX,USER2-RWXPO,USER3-A
# ...........................................................................

##A012 - Allowed DBADM Users
#  Separate Users by Comma, All others will be flagged as Violations
#  eg.: SAMPDB:DBADM_USERS:user1,user2
#DBName:DBADM_USERS:

##A013 - Allowed SECADM Users
#  Separate Users by Comma, All others will be flagged as Violations
#  eg.: SAMPDB:SECADM_USERS:user1,user2
#DBName:SECADM_USERS:

## A035 - AUTHENTICATION in DBM CFG
# Default for A035 - NOTCLIENT for "Must not be CLIENT"
#  Not specifying a value defaults to NOTCLIENT
# If Tech Spec lists an exact value to verify, specify here
# This is Instance level parameter, so keep ALL
#ALL:AUTHENT_TYPE:

## A036 - SRVCON_AUTH in DBM CFG
# Default - NOTCLIENT for "Must not be CLIENT"
#  Not specifying a value defaults to NOTCLIENT
# If Tech Spec lists an exact value to verify, specify here
# This is Instance level parameter, so keep ALL
#ALL:SRVCON_AUTH_TYPE:

## A045 - Permissions of Active Log Directories and Files
#  Use ALL:PERMS_ for Unix and ALL:PERMSW_ for Windows
ALL:PERMS_LOGS:775770
ALL:PERMSW_LOGS:OTHERS-

## A050 - Permissions of Database Directories and Files
#  Use ALL:PERMS_ for Unix and ALL:PERMSW_ for Windows
ALL:PERMS_DB:775770
ALL:PERMSW_DB:OTHERS-
#  A050(Unix,Linux Only) Additional owners allowed
#  Format:owner1,owner2
ALL:DB_OWNERS:

## A055 - Permissions of Data Directories and Files
#  Use ALL:PERMS_ for Unix and ALL:PERMSW_ for Windows
ALL:PERMS_DATA:775770
ALL:PERMSW_DATA:OTHERS-
#  A055(Unix,Linux Only) Additional owners allowed
#  Format:owner1,owner2
ALL:DATA_OWNERS:

## A056 - Audit Settings (Database) - Default:AUDIT,OBJMAINT,SECMAINT,SYSADMIN
# Allowed:AUDIT,OBJMAINT,SECMAINT,SYSADMIN
ALL:AUDIT_SETTINGS_DB:AUDIT,OBJMAINT,SECMAINT,SYSADMIN
#  A056 - Audit checking - Default:DEFAULT, Allowed values: YES or DEFAULT
#  Use ALL:AUDIT_CHECKING:YES to force checking of audit irrespective of
#    SERVER_TYPE, CONFIDENTIAL etc. 
ALL:AUDIT_CHECKING_DB:DEFAULT

## A057 - Audit Settings (Instance) - Default:AUDIT,OBJMAINT,SECMAINT,SYSADMIN
# Allowed:AUDIT,OBJMAINT,SECMAINT,SYSADMIN
ALL:AUDIT_SETTINGS_INST:AUDIT,OBJMAINT,SECMAINT,SYSADMIN
#  A057 - Audit checking - Default:DEFAULT, Allowed values: YES or DEFAULT
#  Use ALL:AUDIT_CHECKING:YES to force checking of audit irrespective of
#    SERVER_TYPE, CONFIDENTIAL etc. 
ALL:AUDIT_CHECKING_INST:DEFAULT

#  A058 - Permissions of Audit Directories and Files
#  Use ALL:PERMS_ for Unix and ALL:PERMSW_ for Windows
ALL:PERMS_AUDIT:775755
ALL:PERMSW_AUDIT:OTHERS-RX
#  A058(Unix,Linux Only) Additional owners allowed
#  Format:owner1,owner2
ALL:AUDIT_OWNERS:

## A060 - Permissions of Backup Directories and Files
#  Use ALL:PERMS_ for Unix and ALL:PERMSW_ for Windows
ALL:PERMS_BACKUPS:775770
ALL:PERMSW_BACKUPS:OTHERS-
## A060(Unix,Linux Only) Additional owners allowed
#  Format:owner1,owner2
ALL:BACKUP_OWNERS:

## A062 - Permissions of Archive Log Directories and Files
#  Use ALL:PERMS_ for Unix and ALL:PERMSW_ for Windows
ALL:PERMS_ARCHLOGS:775770
ALL:PERMSW_ARCHLOGS:OTHERS-

## A065(Unix,Linux Only) - Permissions of Other Dirs and Files
ALL:PERMS_OTHERS:775775
## A065(Unix,Linux Only) Additional owners allowed
#  Format:owner1,owner2
ALL:OTHERS_OWNERS:

## A066(Unix,Linux Only) - Permissions of SQLLIB Directories and Files
ALL:PERMS_SQLLIB:775775
## A066(Unix,Linux Only) Additional owners allowed
#  Format:owner1,owner2
ALL:SQLLIB_OWNERS:

## A070 - Permissions of Product Directories and Files
#  Use ALL:PERMS_ for Unix and ALL:PERMSW_ for Windows
ALL:PERMS_PRODUCT:775775
#ALL:PERMSW_PRODUCT:

## A075(Unix,Linux Only) - UMASK of DB2 Instance owner - Default: 022
ALL:UMASK:022

## A090 - ENCRYPTION - TRANSMIT based on AUTHENTICATION in DBM CFG
# Default for A090 - DATA_ENCRYPT
# If Tech Spec lists an exact value to verify, specify here
# This is Instance level parameter, so keep ALL
#ALL:ENCRYPT_TYPE:
