# mkdocs serve

site_name: MAS GitOps
site_url: https://pages.github.com/ibm-mas/gitops

repo_name: GitHub
repo_url: https://github.com/ibm-mas/gitops
edit_uri: blob/demo2/docs/

nav:
  - 'Home': index.md
  - 'Architecture': architecture.md
  - 'Helm Charts': helmcharts.md
  - 'Config Repository': configrepo.md
  - 'Secrets': secrets.md
  - 'Account Root Application Manifest': accountrootmanifest.md
  - 'Generated Applications': configtoinstances.md
  - 'Deployment Orchestration': orchestration.md
  - 'Known Limitations': limitations.md

theme:
  name: readthedocs
  highlightjs: true
  hljs_languages:
    - yaml
  prev_next_buttons_location: none
  features:
    - content.code.annotate
extra_css:
  - extra.css
  - https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css
extra_javascript:
  - https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js
  - https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js

plugins: []

markdown_extensions:
  - toc:
      permalink: ÔÉÅ
  - admonition
  - attr_list