{{- if eq .Values.dns_provider "cis" }}

{{ $cert_manager_namespace :=   "cert-manager" }}

---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "030"
  name: cis-api-key
  namespace: "{{ $cert_manager_namespace }}"
{{- if .Values.custom_labels }}
  labels:
{{ .Values.custom_labels | toYaml | indent 4 }}
{{- end }}
type: Opaque
stringData:
  key: {{ .Values.cis_apikey }}

{{- end }}
