
{{- /*
Use the build/bin/set-cli-image-digest.sh script to update this value across all charts.
*/}}
{{- $_cli_image_digest := "sha256:aa3972d1777c01a86ab21a47854f1f5fbffc09452adfb0c734e245b3d46e6ffb" }}


{{ $job_name := "postdelete-delete-marketplaceconfigs-job" }}

# NOTE: depends on resources created in ibm-dro chart (postdelete-MarketplaceConfigs-resources)
# The values below must align with the values in that file
{{ $role_name := "postdelete-delete-marketplaceconfigs-r" }}
{{ $sa_name :=   "postdelete-delete-marketplaceconfigs-sa" }}
{{ $rb_name :=   "postdelete-delete-marketplaceconfigs-rb" }}
{{ $np_name :=   "postdelete-delete-marketplaceconfigs-np" }}
{{ $job_label := "postdelete-delete-marketplaceconfigs-job" }}
{{ $ns :=        .Values.dro_namespace }}


---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $job_name }}
  namespace: {{ $ns }}
  annotations:
    argocd.argoproj.io/hook: PostDelete
spec:
  template:
    metadata:
      labels:
        app: {{ $job_label }}
{{- if .Values.custom_labels }}
{{ .Values.custom_labels | toYaml | indent 8 }}
{{- end }}
    spec:
      containers:
        - name: run
          # TODO: use a dedicated image with a smaller footprint for this sort of thing?
          # Just using cli for now since it has all the deps we need to talk with AWS SM
          image: {{ .Values.cli_image_repo | default "quay.io/ibmmas/cli" }}@{{ $_cli_image_digest }}
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 200m
              memory: 512Mi
            requests:
              cpu: 10m
              memory: 64Mi
          env:
            - name: CR_NAMESPACE
              value: {{ $ns }}

          volumeMounts: []
          command:
            - /bin/sh
            - -c
            - |

              set -e

              function delete_oc_resource(){
                RESOURCE=$1
                NAMESPACE=$2
                echo
                echo "------------------------------------------------------------------"
                echo "Check if resource $RESOURCE is present in namespace $NAMESPACE "

                # don't want a non-zero rc from oc delete to cause the job to fail
                # so, temporarily set +e
                set +e
                RESOURCE_NAME=$(oc get $RESOURCE -n $NAMESPACE -o=jsonpath="{.metadata.name}")
                set -e
                if [[ -z "${RESOURCE_NAME}" ]]; then
                  echo "$RESOURCE not found, skipping"
                  return 0
                fi

                echo "oc delete resource $RESOURCE in namespace $NAMESPACE "

                # don't want a non-zero rc from oc delete to cause the job to fail (since we then want to try patching out the finalizers)
                # so, temporarily set +e
                set +e
                oc delete $RESOURCE -n $NAMESPACE --timeout=300s --wait=true
                return_code=$?
                set -e

                echo "Verify that resource $RESOURCE is now absent in namespace $NAMESPACE "
                # don't want a non-zero rc from oc delete to cause the job to fail
                # so, temporarily set +e
                set +e
                RESOURCE_NAME=$(oc get $RESOURCE -n $NAMESPACE -o=jsonpath="{.metadata.name}")
                set -e
                if [[ -n "${RESOURCE_NAME}" ]]; then
                  echo "$RESOURCE still present, failing job"
                  exit 1
                fi

                echo "... verified"
                return 0
                
              }

              
              delete_oc_resource "marketplaceconfig.marketplace.redhat.com/marketplaceconfig" "${CR_NAMESPACE}"


      restartPolicy: Never
      serviceAccountName: {{ $sa_name }}
      volumes: []
  backoffLimit: 4
  