{{- if and (eq .Values.ibm_mas_suite.dns_provider "cis") (eq .Values.ibm_mas_suite.mas_manual_cert_mgmt false) }}

{{ $cert_manager_namespace :=   "cert-manager" }}

---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "130"
  name: cis-api-key
  namespace: "{{ cert_manager_namespace }}"
type: Opaque
stringData:
  key: {{ .Values.ibm_mas_suite.cis_apikey }}

{{- end }}
