{{- if and (eq .Values.ibm_mas_suite.dns_provider "cis") (eq .Values.ibm_mas_suite.mas_manual_cert_mgmt false) }}

{{ $cert_manager_namespace  :=    "cert-manager" }}
{{ $ocp_ingress             :=    printf "cis-proxy-route.%s" .Values.ibm_mas_suite.ocp_cluster_domain }}

---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "137"
  name: cis-proxy-route
  namespace: "{{ $cert_manager_namespace }}"
spec:
  host: "{{ $ocp_ingress }}"
  to:
    kind: Service
    name: cert-manager-webhook-ibm-cis
    weight: 100
  port:
    targetPort: https
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
{{- end }}
