{{- if and (eq .Values.ibm_mas_suite.dns_provider "cis") (eq .Values.ibm_mas_suite.mas_manual_cert_mgmt "False") }}

{{ $cis_apiservice_group_name := "acme.cis.ibm.com" }}
{{ $cis_stg_issuer_name       := printf "%s-cis-le-stg" .Values.ibm_mas_suite.mas_instance_id }}

---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "138"
  name: "{{ $cis_stg_issuer_name }}"
spec:
  acme:
    email: "{{ .Values.ibm_mas_suite.cis_email }}"
    preferredChain: ''
    privateKeySecretRef:
      name: cis-letsencrypt-staging-account-key
    server: 'https://acme-staging-v02.api.letsencrypt.org/directory'
    solvers:
      - dns01:
          webhook:
            config:
              apiKeySecretRef:
                key: key
                name: cis-api-key
              crn: >-
                {{ .Values.ibm_mas_suite.cis_crn }}
            groupName: {{ $cis_apiservice_group_name }}
            solverName: cis

{{- end }}
