{{- if and (eq .Values.ibm_mas_suite.dns_provider "cis") (eq .Values.ibm_mas_suite.mas_manual_cert_mgmt false) }}

{{ $cis_apiservice_group_name :=  "acme.cis.ibm.com" }}
{{ $cis_prod_issuer_name :=  printf "%s-cis-le-prod" .Values.ibm_mas_suite.mas_instance_id }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "138"
  name: "{{ cis_prod_issuer_name }}"
spec:
  acme:
    email: "{{ .Values.ibm_mas_suite.cis_email }}"
    preferredChain: ''
    privateKeySecretRef:
      name: cis-letsencrypt-production-account-key
    server: 'https://acme-v02.api.letsencrypt.org/directory'
    solvers:
      - dns01:
          webhook:
            config:
              apiKeySecretRef:
                key: key
                name: cis-api-key
              crn: >-
                {{ .Values.ibm_mas_suite.cis_crn }}
            groupName: {{ cis_apiservice_group_name }}
            solverName: cis

{{- end }}
