{{- if and (eq .Values.dns_provider "cis") (eq .Values.mas_manual_cert_mgmt "False") }}

{{ $cert_manager_namespace :=   "cert-manager" }}

---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "130"
  name: cis-api-key
  namespace: "{{ $cert_manager_namespace }}"
type: Opaque
stringData:
  key: {{ .Values.cis_apikey }}

{{- end }}
