---

avp:
  name: "argocd-vault-plugin-helm"
  secret: ""
  values_varname: "HELM_VALUES"

account:
  id: dev

cluster:
  id: cluster1

region:
  id: region1 

instance:
  id: inst1

source:
  repo_url: "https://github.com/ibm-mas/gitops"
  revision: "poc"

# Customers will definitely need to customise this (our gitops-envs/mas-dev repos are private),
# So deliberately not specifying defaults here; we want charts to refuse to render if these are not specified
# Both of these correspond to requirement arguments of the gitops-bootstrap CLI function (--github-url and --github-revision)
# generator:
#   repo_url: ""
#   revision: ""

# These defaults align with the ArgoCD worker setup by gitops-bootstrap
# (openshift-gitops with a single ArgoCD project "mas")
argo:
  namespace: "openshift-gitops"
  projects:
    rootapps: "mas"
    apps: "mas"


auto_delete: false

sm:
  aws_access_key_id: xxxx

run_sanity_test: false

devops:
  mongo_uri:
  build_number:

ibm_minio:
  minio_namespace: "minio_namespace"
  minio_instance_name: "minio"
  minio_root_user: "minio"
  minio_root_password: ""
  minio_storage_class: "default"
  minio_storage_size: "40Gi"
  minio_image: "quay.io/minio/minio:latest"

ibm_kmodel:
  openshift_namespace: "openshift-operators"