{{- if and .Values.db2_backup_bucket_name (not (contains "sdb" .Values.db2_instance_name)) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: db2u-scripts-{{ .Values.db2_instance_name }}-configmap
  namespace: "{{ .Values.db2_namespace }}"
data:
{{ (.Files.Glob "files/*").AsConfig | indent 2 }}
{{- end }}