
subjects:
  general: "{{ CUSTOMER_NAME }} ({{ ENV_TYPE }}) - MAS Environment Supplemental Info"
  cos-credentials: "{{ CUSTOMER_NAME }} ({{ ENV_TYPE }}) - MAS Environment Supplemental Info"
  replica-server: "{{ CUSTOMER_NAME} } - MAS SaaS Prod Replica Database Provisioning Complete"
