apiVersion: marketplace.redhat.com/v1alpha1
kind: MarketplaceConfig
metadata:
  name: marketplaceconfig
  namespace: "{{ .Values.dro_namespace }}"
  annotations:
    argocd.argoproj.io/sync-wave: "024"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
{{- if .Values.custom_labels }}
  labels:
{{ .Values.custom_labels | toYaml | indent 4 }}
{{- end }}
spec:
  installIBMCatalogSource: false
  license:
    accept: true
