name: Lint and Check Helm Templates

on:
  pull_request:
    branches: [ "poc", "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Install Helm3
        uses: azure/setup-helm@v4.2.0

      - name: Check that instance level Helm charts are valid
        run: |
          for DIR in $(find $GITHUB_WORKSPACE/instance-applications -type d -maxdepth 1 -mindepth 1 ); do
            $GITHUB_WORKSPACE/build/bin/helm-lint.sh -p $DIR || exit 1
          done

      - name: Check that cluster level Helm charts are valid
        run: |
          for DIR in $(find $GITHUB_WORKSPACE/cluster-applications -type d -maxdepth 1 -mindepth 1 ); do
            $GITHUB_WORKSPACE/build/bin/helm-lint.sh -p $DIR || exit 1
          done

      - name: Check that root level Helm charts are valid
        run: |
          for DIR in $(find $GITHUB_WORKSPACE/root-applications -type d -maxdepth 1 -mindepth 1 ); do
            $GITHUB_WORKSPACE/build/bin/helm-lint.sh -p $DIR || exit 1
          done
  
  # Uncomment when namespaces are removed
  # kind-check:
  #   runs-on: ubuntu-latest
  #   steps:
  #     # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Check that instance level Helm charts don't contain unexpected kinds
  #       run: |
  #         for DIR in $(find $GITHUB_WORKSPACE/instance-applications -type d -maxdepth 1 -mindepth 1 ); do
  #           $GITHUB_WORKSPACE/build/bin/kind-check.sh -p $DIR || exit 1
  #         done

  #     - name: Check that cluster level Helm charts don't contain unexpected kinds
  #       run: |
  #         for DIR in $(find $GITHUB_WORKSPACE/cluster-applications -type d -maxdepth 1 -mindepth 1 ); do
  #           $GITHUB_WORKSPACE/build/bin/kind-check.sh -p $DIR || exit 1
  #         done

  #     - name: Check that root level Helm charts don't contain unexpected kinds
  #       run: |
  #         for DIR in $(find $GITHUB_WORKSPACE/root-applications -type d -maxdepth 1 -mindepth 1 ); do
  #           $GITHUB_WORKSPACE/build/bin/kind-check.sh -p $DIR || exit 1
  #         done