{{- /*
When inside the range loop below, make sure you prefix any references to chart values NOT under .Values.ibm_mas_masapp_configs with $.
For example: {{ $.Values.account.id }} (instead of {{ .Values.account.id }} )
*/}}

{{- range $i, $value := .Values.ibm_mas_masapp_configs }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ $value.mas_workspace_id }}.{{ $value.mas_app_id }}.{{ $.Values.account.id }}.{{ $.Values.region.id }}.{{ $.Values.cluster.id }}.{{ $.Values.instance.id }}"
  namespace: {{ $.Values.argo.namespace }}
  annotations:
    {{- if eq $value.mas_app_id "assist" }}
    argocd.argoproj.io/sync-wave: "510"
    {{- else if eq $value.mas_app_id "iot" }}
    argocd.argoproj.io/sync-wave: "510"
    {{- else if eq $value.mas_app_id "manage" }}
    argocd.argoproj.io/sync-wave: "510"
    {{- else if eq $value.mas_app_id "visualinspection" }}
    argocd.argoproj.io/sync-wave: "510"
    {{- else if eq $value.mas_app_id "health" }}
    argocd.argoproj.io/sync-wave: "530"
    {{- else if eq $value.mas_app_id "monitor" }}
    argocd.argoproj.io/sync-wave: "530"
    {{- else if eq $value.mas_app_id "optimizer" }}
    argocd.argoproj.io/sync-wave: "530"
    {{- else if eq $value.mas_app_id "predict" }}
    argocd.argoproj.io/sync-wave: "550"
    {{- end }}
    {{- if and $.Values.notifications $.Values.notifications.slack_channel_id }}
    notifications.argoproj.io/subscribe.on-sync-failed.workspace1: {{ $.Values.notifications.slack_channel_id }}
    notifications.argoproj.io/subscribe.on-sync-succeeded.workspace1: {{ $.Values.notifications.slack_channel_id }}
    {{- end }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    cloud: aws
    environment: '{{ $.Values.account.id }}'
    region: '{{ $.Values.region.id }}'
    cluster: '{{ $.Values.cluster.id }}'
    instance: '{{ $.Values.instance.id }}'
spec:
  project: "{{ $.Values.argo.projects.apps }}"
  destination:
    server: {{ $.Values.cluster.url }}
    namespace: default
  source:
    repoURL: "{{ $.Values.source.repo_url }}"
    path: instance-applications/510-550-ibm-mas-suite-app-config
    targetRevision: "{{ $.Values.source.revision }}"
    plugin:
      name: {{ $.Values.avp.name }} 
      env:
        - name: {{ $.Values.avp.values_varname }}
          value: |
            instance_id: "{{ $.Values.instance.id }}"
            mas_app_id: "{{ $value.mas_app_id }}"
            mas_workspace_id: "{{ $value.mas_workspace_id }}"
            mas_app_namespace: "{{ $value.mas_app_namespace }}"
            mas_app_ws_apiversion: "{{ $value.mas_app_ws_apiversion }}"
            mas_app_ws_kind: "{{ $value.mas_app_ws_kind }}"
            mas_appws_spec: {{ $value.mas_appws_spec | toYaml | nindent 14 }}

            mas_manual_cert_mgmt: "{{ $value.mas_manual_cert_mgmt }}"
            {{- if eq $value.mas_manual_cert_mgmt true }}
            public_tls_secret_name: "{{ $value.public_tls_secret_name }}"
            ca_cert: |
              {{ $value.ca_cert }}
            tls_cert: |
              {{ $value.tls_cert }}
            tls_key: |
              {{ $value.tls_key }}
            {{- end }}
            {{- if (or (eq $value.mas_app_id "manage") (eq $value.mas_app_id "health")) }}
            mas_app_server_bundles_combined_add_server_config: {{ $value.mas_app_server_bundles_combined_add_server_config }}
            mas_app_settings_server_bundles_size: "{{ $value.mas_app_settings_server_bundles_size }}"
            {{- end }}

            {{- if eq $value.mas_app_id "assist" }}
            wd_yaml: {{ $value.wd_yaml | toYaml | nindent 14 }}
            cpd_admin_password: "{{ $value.cpd_admin_password }}"
            cpd_admin_username: "{{ $value.cpd_admin_username }}"
            {{- end }}

        - name: ARGOCD_APP_NAME
          value: "ma-cfg-{{ $value.mas_app_id }}"
        {{- if not (empty $.Values.avp.secret) }}
        - name: AVP_SECRET
          value: {{ $.Values.avp.secret }}
        {{- end }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
      - RespectIgnoreDifferences=true
  ignoreDifferences:
  - group: '*'
    kind: ServiceAccount
    jsonPointers:
      - /imagePullSecrets
  - group: 'marketplace.redhat.com/v1alpha1'
    kind: MarketplaceConfig
    jsonPointers:
      - /spec
{{- end }}
